* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.main {
    height: 100%;
}

.banner {
    width: 100%;
    height: 100%;
    background-image: url(images/bg22.jpg);
    padding: 15px;
}
.heading {
    padding: 45px 0;
    text-align: center;
    color: white;
    margin: 0px 35px;
    font-size: 20px;
    text-transform: capitalize;
    font-family: Berkshire Swash, cursive;
}
.heading h1 {
    text-align: center;
}

.span-red {
    color: red;
}

.inner-box {
    width: 50%;
    border: 2px solid white;
    padding: 5px;
    margin: 0 auto;
    position: relative;
    /* margin-left: 180px; */
}
.mirror-screen {
    height: 100%;
    width: 100%;
    opacity: 0.25;
    z-index: 1;
    position: absolute;
    background-color: black;
}

.boder-box {
    /* width: 100%; */
    border: 2px solid white;
    font-size: 90px;
    color: rgb(235, 202, 17);
    /* padding: 2px 120px; */
    text-align: center;
    z-index: 2;
    /* letter-spacing: 15px; */
    font-family: Barlow, sans-serif;
}
.boder-box h1 { 
    text-align: center;
}

.span-white {
    color: white;
    vertical-align: sub;
    
}

.next-heading {
    color: white;
    padding: 10px 20px;
    font-size: 16px;
}
.heading1 {
    text-align: center;
    margin: 8px 0;
    font-family: PT Sans, sans-serif;
}

.heading2 {
    text-align: center;
    font-family: PT Sans, sans-serif;
}

.search-bar {
    padding-top: 10px;
    text-align: center;
}

.enter {
    width: 30%;
    display: inline-block;
    border-bottom: 2px solid white;
}

.search {
    /* float: right; */
    display: inline-block;
    border-bottom: 2px solid white;
}
.enter input {
    height: 30px;
    width: 100%;
    opacity: 0.30;
    border: none;
    margin-top: 8px;
    padding: 0 10px;
    /* color: white; */
}

.enter input::placeholder{
    
}

.search input {
    height: 30px;
    width: 70px;
    color: white;
    border: none;
    background-color: red;
    margin-top: 8px;
}

.icons {
    padding: 20px 0;
    text-align: center;
}

.facebook {       
    height: 30px;
    width: 30px;
    display: inline-block;
    color: rgb(3, 3, 214);
    background-color: white;

}

.twitter {
    height: 30px;
    width: 30px;
    display: inline-block;
    margin-left: 30px;
    color: steelblue;
    background-color: white;
}

.google {
    height: 30px;
    width: 30px;
    display: inline-block;
    margin-left: 30px;
    color: red;
    background-color: white;

}
.facebook i {
    font-size: 30px;
}

.twitter i {
    font-size: 30px;
}

.google i {
    font-size: 30px;
}

.footer {
    margin: 0 auto;
    text-align: center;
}

.copyright {
    display: inline-block;
    color: white;
}

.copyright i {
    
}

.paragraph {
    display: inline-block;
    color: white;
    font-size: 14px;
}
span {
    color: rgb(235, 202, 17);
}
@media(max-width:720px){
    .inner-box {
        width: 100%;
    }
    .boder-box {
        font-size: 80px;
    }
    .heading {
        padding: 20px 0;
    }
}